<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Rate my recipe</title>
</head>
<body>
  <div class="jumbotron">
    <h1 class="display-4">Rate my recipe!</h1>
    <p class="lead">Think you can cook? Lets see what the community thinks..</p>
    <hr class="my-4">
    <p>Sign in or sign up to rate, review, and put your so caled skills to community to community</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</body>
</html>