.page-body {
  background: url(https://cdn.dribbble.com/users/38298/screenshots/1779052/shot.jpg);
  background-repeat: repeat;
}

.main-vote-container {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-container{
  margin: 1%;
}

.user-options-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-options {
  width: auto;
  margin-left: 2% ;
}

.vote-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vote-form {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.voteThumb {
  padding: 1%;
}

.vote-disabled {
  margin-top: 15px;
  margin-left: 1px;
  padding: 1%;
  font-size: 1.3em;
  user-select: none;
}

.voteNum {
  margin-top: 20px;
  margin-left: 10px;
  align-self: center;
  font-size: 1.3em;
  user-select: none;
}

@media(max-width: 414px){
  .main-vote-container {
    width: 100%;
    margin-bottom: 25px;
  }
  .user-options {
  width: auto;
  margin-left: 5% ;
}
}