.main-vote-container {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-container{
  margin: 1%;
}

.vote-container {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.voteThumb {
  font-size: 1.4em;
}

.voteNum {
  font-size: 1.1em;
}