.page-body {
  background: url(https://cdn.dribbble.com/users/38298/screenshots/1779052/shot.jpg);
  background-repeat: repeat;
}

.main-vote-container {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-container{
  margin: 1%;
}

.user-options-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-options {
  width: auto;
  margin-left: 2% ;
}

.vote-container {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.voteThumb {
  font-size: 1.4em;
}

.voteNum {
  font-size: 1.1em;
}